@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --blue: #52C1DB;
    --rose: #E894AD;
    --yellow: #EDB801;
    --green: #00d084;
    --purple: #9b51e0;
}


h3{
    font-weight: bold;
    font-size: 28px;
}

a, p, span, button, a:hover, a:focus, button:hover {
    font-size: 19px;
    color: currentColor;
    font-weight: 500;
    font-family: "Urbanist", sans-serif;
    text-decoration: none !important;
    outline: none !important;
}

ul, li {
    list-style: none !important;
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}

body{
    color: #383838;
}

@media screen and (max-width: 700px){
    a, p{
        font-size: 12px;
    }
    svg{
        width: 15px;
        height: 15px;
    }
}

/* BOTON TOP */

.boton__top{
    transform: scale(0);
    transition: all .3s;
}

.boton__top.botonTopActive{
    transform: scale(1);

}

/* HEADER */

header{
    margin: 0 20px;
    width: calc(100% - 40px);
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.105);
    background-color: white !important;
}

/* HEADER MENU SERVICIOS */

.header__servicios--li a svg{
    transition: all .4s cubic-bezier(.175,.885,.32,1.275);
}
.header__servicios--li:hover a svg{
    transform: rotate(180deg);
}


.header__servicios--opacity {
    transform: scaleY(0);
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.105);
    transition: all .2s;
    transform-origin: top;
}

.header__servicios--opacity li a h2{
    transition: all .2s;
}

.header__servicios--opacity li a:hover h2{
    color: var(--green);
}

.header__servicios--opacity li{
    opacity: 0;
    transform: translateY(100px);
    transition: all .3s;
}


.header__servicios--li:hover .header__servicios--opacity{
    transform: scaleY(1);
}

.header__servicios--li:hover .header__servicios--opacity li{
    opacity: 1;
    transform: translateY(0px);
}
.header__servicios--li:hover .header__servicios--opacity li:nth-child(1){
    transition-delay: 50ms;
}
.header__servicios--li:hover .header__servicios--opacity li:nth-child(2){
    transition-delay: 100ms;
}
.header__servicios--li:hover .header__servicios--opacity li:nth-child(3){
    transition-delay: 150ms;
}
.header__servicios--li:hover .header__servicios--opacity li:nth-child(4){
    transition-delay: 200ms;
}
.header__servicios--li:hover .header__servicios--opacity li:nth-child(5){
    transition-delay: 250ms;
}
.header__servicios--li:hover .header__servicios--opacity li:nth-child(5){
    transition-delay: 300ms;
}
.header__servicios--li:hover .header__servicios--opacity li:nth-child(6){
    transition-delay: 350ms;
}

header nav ul:nth-child(3) li:nth-child(3){
    display: none;
}

@media screen and (max-width: 1050px){
    header nav ul:nth-child(3) li:nth-child(3){
        display: flex;
    }
    header{
        width: calc(100% - 20px);
        margin: 0 10px;
    }
    header ul:nth-child(1){
        display: none;
    }
    header ul:nth-child(2){
        position: relative;
        transform: translateX(0%);
        left: 0%;
        padding: 10px 0px;
    }
    header ul:nth-child(2) img{
        width: 30px;
    }
    header nav ul:nth-child(3) li a{
        padding: 5px 10px;
    }
}

/* MENU RESPONSIVE */

.menu__responsive{
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .3s;
}

.menu__responsive.menuResponsiveActive{
    opacity: 1;
    transform: scaleY(1);

}

.menu__reponsive--ul{
    transform: translateY(300px);
    transition: all .3s;
    transition-delay: .1s;
    opacity: 0;
}

.menu__reponsive--ul.menuResponsiveUlActive{
    transform: translateY(0px);
    opacity: 1;
}

/* Hero */


.hero__tt--span{
    background-image: url(./assets/underline-green.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

/* PORTED FROM stylos.css */

.entrada{
    animation: entrada 6s;
    top: -200%;
    opacity: 0;
}

@keyframes entrada {
    0%{
        top: 0%;
        opacity: 1;
    }
    99%{
        top: 0%;
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: -200%;
    }
}

.entrada::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: -50%;
    left: 0;
    background-color: rgb(235, 235, 255);
    z-index: -10;
    animation: estrada__top 5s;
} 

@keyframes estrada__top {
    0%{
        top: 0;
    }
    88%{
        top: 0;
    }
    100%{
        top: -50%;
    }
}
.entrada::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: -50%;
    left: 0;
    background-color: rgb(235, 235, 255);
    z-index: -10;
    animation: estrada__bottom 5s;
}

@keyframes estrada__bottom {
    0%{
        bottom: 0;
    }
    88%{
        bottom: 0;
    }
    100%{
        bottom: -50%;
    }
}


/* ANIMACION OPACITY */

.opacity{
    animation: opacity 4s;
    opacity: 0;
}

@keyframes opacity {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

/* ANIMACION CARGA NUMBER */

.carga__number::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 2s infinite linear;
    border-top: 2px solid currentColor;
    border-left: 2px solid currentColor;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
    
}

.carga__number::before{
    content: "0";
    animation: carga__number 4s infinite;

}


@keyframes carga__number {
    0%{ content: "0"; }
    10%{ content: "10"; }
    20%{ content: "20"; }
    30%{ content: "30"; }
    40%{ content: "40"; }
    50%{ content: "50"; }
    60%{ content: "60"; }
    70%{ content: "70"; }
    80%{ content: "80"; }
    90%{ content: "90"; }
    100%{ content: "100"; }
}

/* ANIMACION SLIDER PALABRAS TOP */

.slider{
    animation: slider 8s infinite alternate;
}

@keyframes slider {
    0%{
        margin-top: 0;
    }
    20%{
        margin-top: 0;
    }
    25%{
        margin-top: -33px;
    }
    45%{
        margin-top: -33px;
    }
    50%{
        margin-top: -70px;
    }
    70%{
        margin-top: -70px;
    }
    75%{
        margin-top: -108px;
    }
    100%{
        margin-top: -108px;
    }
    
}


/* VIDEOS ANIMACIONES */
.video__1,
.video__2,
.video__3{
    animation: video 500ms;
    animation-delay: 4.4s;
    
}

.video__2{
    animation: video 550ms;
    animation-delay: 4.4s;
}
.video__3{
    animation: video 600ms;
    animation-delay: 4.4s;
}

@keyframes video {
    0%{
        transform: scale(0);
    }
    
}



/* SOCIOS */

.socios__article{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.086);
    border: 1px solid rgba(0, 0, 0, 0.044);
}

/* OPNIONES */

.opiniones__article{
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.086);
    border: 1px solid rgba(0, 0, 0, 0.044);
}
